<button mat-flat-button color="primary" (click)="openDialog()">Add new</button>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" [trackBy]="trackByFn" class="mat-elevation-z8" (clickOutside)="cancelEditing()">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column | camelCaseTransform}} </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <ng-container [ngSwitch]="column">
        <div *ngSwitchCase="'Remove'" class="btn-wrapper">
          <button mat-flat-button color="warn" (click)="deleteRow(element)">Delete</button>
        </div>
        <ng-container *ngSwitchDefault>
        <span
          [hidden]="
            element.editCellName === column &&
            column !== 'cowId' &&
            column !== 'animalId' &&
            column !== 'eventId' &&
            column !== 'currentGroupId' &&
            column !== 'newGroupId'">
          <span
            *ngIf="
              column === 'minValueDateTime' ||
              column === 'endDate' ||
              column === 'startDateTime' ||
              column === 'reportingDateTime' ||
              column === 'endDateTime';
              else notDate">
            {{(element[column]) | date}}
          </span>
          <ng-template #notDate>
            <span>
              {{(element[column])}}
            </span>
          </ng-template>
          <button
            mat-icon-button
            color="primary"
            class="edit-button"
            (click)="enterEditMode(element, column, i)"
            [hidden]="
              column === 'cowId' ||
              column === 'animalId' ||
              column === 'eventId' ||
              column === 'currentGroupId' ||
              column === 'newGroupId'">
                <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>
        </span>
          <span [hidden]="element.editCellName !== column"
                *ngIf="column !== 'cowId' &&
                  column !== 'animalId' &&
                  column !== 'eventId' &&
                  column !== 'currentGroupId' &&
                  column !== 'newGroupId'">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  [type]="tableService.getInputType(column)"
                  [(ngModel)] = 'element[column]'>
                <button class="edit-control-btn save" mat-mini-fab color="primary" (click)="confirmChanges()">
                  <mat-icon aria-hidden="false" fontIcon="done"></mat-icon>
                </button>
                <button class="edit-control-btn cancel" mat-mini-fab color="warn" (click)="cancelEditing()">
                  <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                </button>
              </mat-form-field>
          </span>

        </ng-container>
      </ng-container>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
